.array-container {
  position: absolute;
  left: 100px;
  top: 100px;
}

.array-bar {
  width: 2px;
  display: inline-block;
}

.choices {
  width: 250px;
  height: 25px;
  float: left;
}

.button {
  font-size: 16px;
  height: 25px;
  border-radius: 12px;
  transition-duration: 0.4s;
  margin-left: 30px;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}
