.array-container {
  position: absolute;
  left: 100px;
  top: 100px;
}

.array-bar {
  width: 2px;
  display: inline-block;
}

.choices {
  width: 500px;
  height: 25px;
  float: left;
  border-radius: 12px;
  transition-duration: 0.4s;
}

textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.select {
  font-size: 24px;
  border-radius: 12px;
  transition-duration: 0.4s;
  margin-left: 30px;
  width: 250px;
}

.button {
  font-size: 24px;
  border-radius: 12px;
  transition-duration: 0.4s;
  margin-left: 30px;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.controls {
  font-size: 30px;
  background-color: gray;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
}

